{% extends 'base.html' %}
{% block content %}

<ul>
  {% for comment in project.comments.all %}
    <li>{{ comment.message }}</li>
  {% endfor %}
</ul>

<form action="{% url 'create_comment' %}" method="post">
  {% csrf_token %}
  <h3>Comment:</h3>
  {{ form.as_p }}
  <input class="submit-form" type="submit" name="comment-submit">
</form>



<ul>
    <li>
        <h1>{{ project.title }}</h1>
        <h1>{{ project.owner }}</h1>
        <h1>{{ project.description }}</h1>
        <h1>funding goal = {{ project.dollars }}</h1>
        <h2>created on = {{ project.created_at }}</h2>
        <h2>ends on = {{ project.end_at }}</h2>
        <h1>made by {{ project.user }}</h1>
        <h1>current funds = {{ project.current_funds }}</h1>
    </li>
    <a href="{% url 'delete_project' id=project.pk %}">Delete</a>
</ul>

{% for rewards in reward %}
    <li>{{ rewards.reward }}</li>
    <li>{{ rewards.description }}</li>
    <li>{{ rewards.level }}</li>
{% endfor %}
<div class="backers">
    <h1>Backers</h1>
    {% for back in backer %}
    <li><a href="{% url 'profile_show' id=back.user.id %}">{{ back.user }}</a> => ${{ back.amount_given }}</li>
    {% endfor %}

</div>
{% if request.user == project.user %}
    <form action="{% url 'project_show' id=project.pk %}" method="post">
        {% csrf_token %}
        {{ rewards_form.as_p }}
        <input type="submit" name="Add" id="">
    </form>
    <h1>Can't back own project</h1>
{% else %}
    <form action="{% url 'project_show' id=project.pk %}" method="post">
        {% csrf_token %}
        {{ backer_form.as_p }}
        <input type="submit" name="Add" id="">
    </form>
{% endif %}

{% endblock%}
