{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>

  <body>

    {% if user.id is picture.user.pk %}
      <h3><a href="{% url 'edit_picture' id=picture.pk %}"> Edit Picture </a></h3>
    {% endif %}

    <h2>{{picture.title}}</h2>
    <h3>By {{picture.artist}}</h3>

    <h5>Added by {{ picture.user.username }}</h5>

    <img class = "picture-image" src="{{picture.url}}" alt="{{picture.title}}" />

    <h4> Comments</h4>
    <ul>
      {% for comment in picture.comments.all %}
      <li>{{ comment.message}}</li>
      {% endfor %}
    </ul>

    <form action= "{% url 'create_comment' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="picture" value="{{ picture.pk }}">

      <label for="comment-name">
       <span>Name:</span>
       <input type="text" id="comment-name" name="comment-name">
      </label>

      <label for="comment-message">
       <span>Message:</span>
       <textarea id="comment-message" name="comment-message"></textarea>
      </label>

     <input type="submit" name="comment-submit">
    </form>

  </body>
</html>
{% endblock %}
