{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Home</h2>
    <a href="{% url 'new_project_page' %}">New Project</a>
    <h3>Projects</h3>
    {% for project in projects %}
    <section>
      <h3><a href="{% url 'project_page' id=project.pk %}">{{ project.title }}</a></h3>
      <p>{{ project.description }}</p>
      <p>By {{ project.owner.username }}</p>
    </section>
    {% endfor %}
  </body>
</html>

{% endblock %}
