{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Rewards</h2>
    <ol>
      {% for reward in rewards %}
      <li>
        <h3>{{ reward.title }}</h3>
        <h4>{{ reward.description }}</h4>
        {% if owner.id != user.id %}
          <form action="{% url 'purchase_reward' id=reward.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="backer" value="{{request.user.pk}}">
            <input type="hidden" name="reward_tier" value="{{reward.pk}}">
            <button type="submit">Get Reward!</button>
          </form>
        {% else %}
          <a href="{% url 'edit_reward' id=reward.pk %}">Edit Reward</a>
        {% endif %}
      </li>
      {% endfor %}
    </ol>


  </body>
</html>

{% endblock %}
